<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <title>Footer</title>
</head>
<body>
    <footer>
    <div class="row">
        <div class="footer-section">
            <h2 id="example6" >Contact Us</h2>
            <p onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">Academy Address</p>
            <p onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
                <a  onmouseover="mouseOver(this)" onmouseout="mouseOut(this)"style="text-decoration:none" href="https://www.google.com/maps/search/Azatutyun+24%2F17(E+plaza)/@40.2081652,44.5277432,17z/data=!3m1!4b1?entry=ttu" target="_blank">
                Yerevan, Azatutyun 24/17(E plaza)
            </a></p>
            <p onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">Phone: +374 43 477447</p>
            <p onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">Email: info@academy.com</p>
        </div>
        <div class="footer-section">
            <h2 id="example6" >Library Hours</h2>
            <p onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">Monday - Friday: 9am - 5pm</p>
            <p onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">Saturday: 10am - 4pm</p>
            <p onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">Sunday: Closed</p>
        </div>
        <div class="footer-section">
            <h2 id="example6">Helpful Links</h2>
            <ul style="justify-content: center">
                <li style="margin-bottom: 10px" ><a class="list-item"style="text-decoration:none" href="https://picsartacademy.am" target="_blank"><i style="font-size:28px" class="fa fa-home"></i></a></li>
                <li style="margin-bottom: 10px"><a class="list-item" style="text-decoration:none"href="https://www.youtube.com/@PicsartAcademy" target="_blank"><i style="font-size:30px" class="fab fa-youtube"></i></a></li>
                <li style="margin-bottom: 10px"><a class="list-item"style="text-decoration:none" href="https://www.instagram.com/picsart__academy/" target="_blank"><i  style="font-size:30px"class="fab fa-instagram"></i></a></li>
                <li style="margin-bottom: 10px"><a class="list-item" style="text-decoration:none" href="https://www.linkedin.com/company/picsart-academy" target="_blank"><i  style="font-size:30px"class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="copyright-text"><p style="font-size: 12px;">&copy; 2024 Picsart Academy Library. All rights reserved.</p></div>
        
    </footer>
    
    <script>
        function mouseOver(element){
            element.style.color='#b809a3';
        }
        function mouseOut(element){
            element.style.color='black';
        }
    </script>
</body>
</html>
